@import 'src/style/colors.scss';

  .products_header {
    margin: 50px 0;
    text-align: center;
    font-size: 36px;
    color: $color-cadet-gray;
    letter-spacing: 2px;

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      background-color: $color-cadet-gray; 
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }
  
  .products_container {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: $color-cadet-gray;
  }
  
  
  .product_item {
    position: relative;
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
      border-radius: 10px 10px 0 0;
    }
  
    p {
      font-size: 20px;
      margin: 20px 0;
      color: $color-white;
      text-align: center;
    }
  
    button {
      background: none;
      border: none;
      color: $color-white;
      font-size: 40px;
      cursor: pointer;
      transition: color 0.3s ease;
  
      &:hover {
        color: $color-dark-gray;
      }
    }
  }