@import 'src/style/colors.scss';

.handicraft_header {
    margin: 50px 0;
    text-align: center;
    font-size: 24px;
    color: $color-dark-gray;
}

.handicraft_text {
    font-size: 18px;
    line-height: 1.6;
    color: $color-white;
    padding: 10px;
    background-color: $color-cadet-gray;
    border-top: 2px solid $color-cadet-gray;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        width: 495px;
        text-align: center;
    }
}

.handicraft_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .handicraft_portfolio {
    width: 80%;
    margin: 0 auto;
  }

    .slick-slide {
    position: relative;
    text-align: center;
  
    img {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
      margin: 0 auto;
    }
  
    .handicraft_description {
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }
  
  .custom_arrow_left,
  .custom_arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); // Tło strzałek
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .custom_arrow_left {
    left: 10px;
  }
  
  .custom_arrow_right {
    right: 10px;
  }
  
  .custom_arrow_left:hover,
  .custom_arrow_right:hover {
    background-color: rgba(0, 0, 0, 0.8);  // Zmiana koloru tła przy najechaniu
  }
  