@import 'src/style/colors.scss';

.handicraft_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
    background: radial-gradient(circle, $color-dark-gray, $color-black);
  }

.handicraft_header {
    margin: 50px 0;
    color: $color-white;

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      background-color: $color-white;
      margin: 10px auto 0;
      border-radius: 2px;
    }
}

.handicraft_text {
    font-size: 18px;
    line-height: 1.6;
    color: $color-white;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    p {
        width: 495px;
    }
}

.handicraft_portfolio {
    width: 80%;
    margin: 0 auto;
  }  

.slick-slide img {
    max-height: 400px;
    margin: 70px auto;  
  }    

.modal_image {
    max-height: 400px;
}

.modal_navigation {
    display: flex;
    align-items: center;
}

.modal_prev,
.modal_next {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 768px) {
  .slick-slide img {
    justify-content: center;
    width: 90%;
    object-fit: cover;
  }
}