@import 'src/style/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-mint-cream;
  padding: 30px;
  border-bottom: 2px solid $color-cadet-gray;
  opacity: 1;

  h1 {
    margin: 0;
    font-size: 50px;
    color: $color-dark-gray;

    span {
      color: $color-cadet-gray;
    }
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        margin: 0 15px;

        a {
          text-decoration: none;
          color: $color-cadet-gray;
          font-size: 18px;

          &:hover {
            color: $color-dark-gray;
          }
        }
      }
    }
  }
}