@import 'src/style/colors.scss';

.contact_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 36px; 
    border-top: 2px solid $color-cadet-gray;
  }
  
  .contact_container h2 {
    margin: 0;
    font-size: 24px;
    color: $color-dark-gray;

    span {
      color: $color-cadet-gray;
    }
  }
  
  .contact_container p {
    margin: 0;
    max-width: 60%;
    text-align: right;
    font-size: 18px;
    color: $color-dark-gray;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
  }