//$color-dark-gray: #4e5761;
$color-dark-gray: #1B263B;
$color-gray: #788591;
$color-cadet-gray: #415A77;
//$color-cadet-gray: #83a4a9;
$color-mint-green: #cbefeb;
$color-mint-cream: #E8F0F6;
//$color-mint-cream: #f6fbfa;
$color-white: #fcfcfc;
//$color-white: #E0E1DD;
$color-black: black;