@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'src/style/colors.scss';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
}

code {
  font-family: 'Poppins', sans-serif;
}