@import 'src/style/colors.scss';

.about_me_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; 
  background-image: url('../../assets/about_me_photo.jpg'); 
  background-size: cover; 
  background-position: center; 
  padding: 20px;
}

.about_me_left_side {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  max-width: 600px;
  color: $color-white; 
}

.about_me_left_side p {
  font-size: 18px;
  line-height: 1.6;
}

.about_me_left_side button {
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: $color-cadet-gray;
  color: $color-white;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  margin-top: 20px;
}

.about_me_left_side button:hover {
  background-color: $color-dark-gray;
}

.about_me_left_side h2 {
  font-size: 32px;
  margin-top: 30px;
  color: $color-white;

  span {
    color: $color-cadet-gray;
  }
}

@media (max-width: 768px) {
  .about_me_left_side {
      margin-top: 200px;
  }
}